### for sqlite
db_engine: SQLITE3
database: /exlibris/lias/tools/LIAS_Ingester/log.db

### for oracle:
#db_engine: oracle
#db_user: ****
#db_password: ****
#db_host: ****
#db_database: ****

### for redis:
#db_engine: redis
#db_host: ****

### database logging options
db_logging: true
db_logging_level: warn

### logging of SOAP messages
SOAP_logging: false

### standard logging options
# 0: DEBUG, 1: INFO, 2: WARN, 3:ERROR, 4:FATAL
log_to_db_level: 2
log_level: 1

### the name of the ingest
ingest_name: lias

### these settings allow the ingester to find the DTL tools
dtl_base: /exlibris/dtl/j3_1/digitool/home
dtl_ingest_dir: profile/units/LIA01/load
dtl_bin_dir: system/bin
