common:

  packaging:
    type:             dir
    recursive:        true

  pre_process:
    check_virus:      false
    check_checksum:   false
    check_ingested:   true

  pre_ingest:
    work_dir:         /nas/vol01/temp/ingest
    
  checksum:
    type:             md5
    file:             MD5/md5sums.txt

  control_fields:
    partition_c:      test sharepoint
    status:           SUPPRESSED
